<div class="card-row-component-outer">
  <h2>I'm a card-row--3</h2>

  <div class="card-row_row--inner">
    {{> moleculesDir-card--basic}}
    {{> moleculesDir-card--basic}}
    {{> moleculesDir-card--basic}}
  </div>
</div>
